.anylist ul {
  margin: 0;
  font-size: 20px;
  padding: 0px;
  line-height: 25px;
  color: lightgray;
}

.anylist .leftAligned td,
.anylist .leftAligned th {
  text-align: left;
}

.anylist .centerAligned td,
.anylist .centerAligned th {
  text-align: center;
}
